# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl

# --- Virtual environment ---
venv/
env/
.final_project/
final_project/
Scripts/
Include/
Lib/
pyvenv.cfg

# --- VS Code ---
.vscode/
*.code-workspace

# --- OS / Editor junk ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log

# --- Cache ---
.cache/
